  .cart {
    position: fixed;
    top: 0;
    right: -400px; /* Oculto por defecto */
    width: 400px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    padding: 20px;
    transition: right 0.3s ease;
  }
  
  .cart.open {
    right: 0;
  }

  header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  